/.node_modules
/.env
/.DS_Store
/.idea
/.vscode
/.history
/.next
/.next/cache
/.next/cache/*
/.next/static
/.next/static/*  
/.next/server
/.next/server/*
/.next/types
/.next/types/*
/.next/trace
/.next/trace/*
/.next/trace/trace.json
  
